@import "normalize.css";

:root {
  --black: #212121;
  --grey: #9b9faa;
  --grey-transparent: #e0e0e0;
  --orange: #fc842d;
  --dark-blue: #264061;
  --overlay: #2121211f;
  --white: #ffffff;
}

body {
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 320px;
  height: 100vh;

  /* Existing body styles */
  margin: 0;
  font-family: "Verdana", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  height: 100vh;
}

.header {
  background-color: var(--white);
  border-bottom: 2px solid var(--grey-transparent);
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
